{% include 'header.html.twig' %}
<head>
    <link rel="stylesheet" type="text/css" href="style1.css">
</head>
<div id="pageContainer">
<h1>{{ pageTitle|default("Brak tytułu podstrony")}}</h1>

<form action="" method="post">
    <label for="emeilInput">Podaj adres emeil</label>
    <input type="emeil" name="emeil" id="emeilInput"><br>
    <label for="passwordInput">Podaj hasło:</label>
    <input type="password" name="password" id="passwordInput"><br>
    <input type="submit" name="submit" value="zaloguj">

</form>
    {% if message is defined %}
    <span class="message">{{ message }}</span>
    {% endif %}
</div>
{% include 'footer.html.twig' %} 