body {
    margin: 0;
    padding: 0;
    background-color: rgb(50, 165, 204);
}
div#pageContainer {
    max-width: 960px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    background-color: blueviolet;
}
div#post {
    background-color: lightgreen;
    padding: 20px;
    margin-bottom: 20px;
}
div#post img {
    width: 100%;
    box-shadow: 3px;
}
div#loggedUser {
    text-align: right;
    font-weight: 1.5rem;
    background-color: aqua;

}